
body {
  margin:0;
  font-family: Arial;
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
}

.container {
  padding:20px;
}

.sheet {
  background:white;
  margin-bottom:20px;
  padding:20px;
  border-radius:10px;
}

.grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap:10px;
}

.cell {
  display:flex;
  flex-direction:column;
}

input {
  padding:8px;
  border-radius:5px;
  border:1px solid #ccc;
}
